ion-header {
  background: linear-gradient(45deg, #ffcc00, #ff0000); // Colores de Pokémon
  border-bottom: 4px solid #003a70; // Azul oscuro de Pokémon
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  ion-toolbar {
    color: white;
    font-family: "Press Start 2P", cursive; // Fuente estilo TCG
    text-align: center;

    ion-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;

      strong {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .wmm {
        font-size: 14px;
        color: #ffcc00; // Amarillo característico de Pokémon
        text-shadow: 1px 1px 2px black;
        font-weight: bold;
      }
    }
  }

  ion-buttons {
    ion-back-button,
    ion-menu-button {
      color: white !important;
    }
  }
}
