<app-header [title]="card ? 'Actualizar carta' : 'Añadir carta'" [isModal]="true"></app-header>

<ion-content>
  <div class="pokemon-card">
    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()">

      <div class="card-image">
        <ion-avatar *ngIf="form.value.photo">
          <img [src]="form.value.photo"/>
        </ion-avatar>
        <ion-icon class="image-icon" name="image-outline" *ngIf="!form.value.photo"></ion-icon>
      </div>

      <ion-button (click)="takeImage()" size="small" shape="round" mode="ios">
        Tomar / Seleccionar
      </ion-button>


      <div class="card-details">
        <app-custom-input autocomplete="name" [control]="form.controls.name" type="text" label="Nombre"></app-custom-input>
        <app-custom-input [control]="form.controls.skill" type="text" label="Habilidad"></app-custom-input>
        <app-custom-input [control]="form.controls.attack" type="text" label="Ataque"></app-custom-input>
        <app-custom-input [control]="form.controls.type" type="text" label="Tipo"></app-custom-input>
        <app-custom-input [control]="form.controls.weakness" type="text" label="Debilidad"></app-custom-input>
      </div>


      <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
        {{card ? 'Actualizar' : 'Añadir'}}
        <ion-icon slot="end" name="body-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
