/* Estilos para ion-segment */
ion-segment {
  position: fixed;
  top: 60px; /* Justo debajo del encabezado */
  left: 0;
  right: 0;
  z-index: 10;
  background: #222; /* Fondo oscuro */
  padding: 10px;
  border-bottom: 2px solid #444; /* Línea separadora más sutil */
}

/* Estilo de los botones de ion-segment */
ion-segment-button {
  font-weight: bold;
  color: #aaa;
  transition: all 0.3s ease-in-out;

  &[aria-checked="true"] {
    color: #fff;
    border-bottom: 3px solid #ffcc00;
  }
}


ion-content {
  --padding-top: 160px;
}


ion-card {
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  max-width: 90%;
}

ion-card:first-of-type {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  z-index: 5;
}


div {
  padding: 0 16px;
}


.battery-card {
  transition: background 0.3s ease-in-out;

  &.charging {
    background: #d4edda !important;
  }

  &.low {
    background: #f8d7da !important;
  }
}
