<app-header [showMenuButton]="true" title="Sensores"></app-header>

<ion-segment [(ngModel)]="selectedSegment" >
  <ion-segment-button value="gps">
    <ion-label>GPS</ion-label>
  </ion-segment-button>
  <ion-segment-button value="accelerometer">
    <ion-label>Acelerómetro</ion-label>
  </ion-segment-button>
  <ion-segment-button value="battery">
    <ion-label>Batería</ion-label>
  </ion-segment-button>
</ion-segment>

<!-- Contenedor para las tarjetas -->
<div >
  <!-- GPS -->
  <ion-card *ngIf="selectedSegment === 'gps'">
    <ion-card-header>
      <ion-card-title>GPS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud: {{ position?.coords?.latitude }}</p>
      <p>Longitud: {{ position?.coords?.longitude }}</p>
      <p>Precisión: {{ position?.coords?.accuracy }} metros</p>
    </ion-card-content>
  </ion-card>

  <!-- Acelerómetro -->
  <ion-card *ngIf="selectedSegment === 'accelerometer'">
    <ion-card-header>
      <ion-card-title>Acelerómetro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>X: {{ accelerometerData.x | number:'1.1-1' }}</p>
      <p>Y: {{ accelerometerData.y | number:'1.1-1' }}</p>
      <p>Z: {{ accelerometerData.z | number:'1.1-1' }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Batería -->
  <ion-card class="battery-card" *ngIf="selectedSegment === 'battery'">
    <ion-card-header>
      <ion-card-title>Batería</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="batteryInfo?.batteryLevel"></ion-progress-bar>
      <p>Estado: {{ batteryInfo?.isCharging ? 'Cargando 🔌' : 'No cargando 🔋' }}</p>
      <p>Porcentaje: {{ (batteryInfo?.batteryLevel || 0) * 100 | number:'1.0-0' }}%</p>
    </ion-card-content>
  </ion-card>
</div>
