.sign-up-form {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

@media (min-width: 769px) {
  .sign-up-form {
    width: 500px;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 40px;
}
