ion-tab-bar {
  background: #000;
  border-top: 1px solid #000000;
}

ion-tab-button {
  color: #666;
}

ion-tab-button[aria-selected="true"] {
  color: #000;
  font-weight: bold;
}

ion-router-outlet {
  position: relative;
  z-index: 1;
}

.tab-icon {
  width: 30px;
  height: 30px;
  filter: invert(1);
}


