<ion-tabs>
  <ion-router-outlet id="menu-content"></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/main/home" routerDirection="root">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/main/profile" routerDirection="root">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sensors" routerLink="/main/sensors" routerDirection="root">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Sensores</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="signOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



